<form class="add-offer">

  <fieldset>
    <legend> اضافة منتج جديد :</legend>

    إسم المنتج : <br>
    <input type="text" name="product-name" required disabled> <br>
    تفاصيل المنتج : <br>
    <textarea name="product-details" id="" cols="30" rows="10" required></textarea> <br>
    السعر : <br>
    <input type="text" required> <br>

    صور المنتج : <br>
    <input type="file" name="images" value="إختر الصور" multiple> <br>

    التاريخ : <br>
    <input type="date"> <br>

    <input type="submit"> <br>
  </fieldset>

</form>



