<div class="view-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 center-block"style="float: none">
        <h3 class="product-name">جوال ايفون 5</h3>
        <div class="gallery">
        <div class="row">
          <img class="col-md-5 col-xs-5 center-block img-responsive main-view"id="main" style="float: none" src="../../assets/images/adele.jpg" alt="">
        </div>
        <div class="row">
          <ul class="list-unstyled list-imgs center-block" style="float: none">
            <li class="col-md-3 col-xs-6"><a><img class="list-img-item" src="../../assets/images/adele.jpg" alt=""></a></li>
            <li class="col-md-3 col-xs-6"><a><img class="list-img-item" src="http://img.el-wlid.com/imgcache/617734.jpg" alt=""></a></li>
            <li class="col-md-3 col-xs-6"><a><img class="list-img-item" src="../../assets/images/back.jpg" alt=""></a></li>
            <li class="col-md-3 col-xs-6"><a><img class="list-img-item" src="http://img.el-wlid.com/imgcache/617734.jpg" alt=""></a></li>
          </ul>
        </div>
        </div>
        <div class="row">
          <div class="row text-center information-holder">
            <h4 class="information col-md-3 col-xs-3"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; عدي الديراوي</h4>
            <h4 class="information col-md-3 col-xs-3"><i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp;200$</h4>
            <h4 class="information col-md-3 col-xs-3"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;2016</h4>
            <h4 class="information col-md-3 col-xs-3"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;غزة</h4>
          </div>
        </div>
        <div class="row">
          <div class="details-holder col-md-12">
            <h4 class="details-const"> التفاصيل :</h4>
            <p class=" lead details">hghdgfp iuh idfjhda ngjkn fgkjg kjh fdj ghf dhg jgui fd hg</p>
          </div>
        </div>

        <div class="row">
          <div class="comments-holder col-md-12">
            <h4 class="comments-const">التعليقات :</h4>
            <a  class="comments-const btn-const-add-comment text-center" style="display: block;text-decoration: none;margin-bottom: 20px"><i class="fa fa-comment fa-fw fa-2x btn-const-add-comment" aria-hidden="true"></i>&nbsp;اضافة تعليق</a>
            <div class="new-comment text-center">
              <textarea class="text-comment" name="new-comment" id="" cols="100" rows="5" placeholder="تعليق جديد ..."></textarea>
              <span class="btn-add-comment btn btn-info">تعليق</span>
            </div>
            <ul class="comments list-unstyled">
              <li class="col-md-10 col-xs-10">هاي</li>
              <li class="col-md-10 col-xs-10">هااي</li>
              <li class="col-md-10 col-xs-10">هاااي</li>
              <li class="col-md-10 col-xs-10">هااااي</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
