
  <div class="row">
    <div class="col-md-12">

<div class="homepage-hero-module">
      <div class="video-container">
        <div class="filter text-center">
          <h1 class="tera-welcome">تــيــرا مــاركــت</h1>
          <div class="content">
            <p class="lead idea"> موقع تواصل اجتماعي يتيح لك التسوق وتسويق منتجك بنفسك !
            </p>
          </div>
        </div>
        <video autoplay loop class="fillWidth">
          <source src="../../assets/welcome.mp4" type="video/mp4" />
          <source src="../../assets/welcome.webm" type="video/webm" />
        </video>
        <div class="poster hidden">
          <img src="../../assets/images/welcome.jpg" alt="">
        </div>
      </div>

</div>
</div>
</div>
