
<tm-header></tm-header>

<div class="content">
    <div class="container">
        <div class="row">
          <!--
            <div class="col-md-2 col-sm-2 col-xs-2 pull-right personal">
                <img class="img-responsive" src="../../assets/images/adele.jpg" alt="">
                <ul class="info-list" style="padding:20px 0">
                    <li>الاسم : <strong>عدي الديراوي</strong></li>
                    <li>رقم الهاتف : <strong>0592802626</strong></li>
                    <li>العنوان : <strong>غزة - الشجاعية</strong></li>
                </ul>

                <button class="btn btn-info offers" [routerLink]="['view-product']">اضافة عرض جديد</button>
                <button class="btn btn-success offers">عروضي</button>
            </div>

            -->
            <div class="col-md-12 col-sm-12 col-xs-12 pull-left category-items">

              <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
